<div class="contents row">
  <div class="success">
    <h3>
      投稿が完了しました。
    </h3>
    <%= link_to "お悩み相談メッセージフォーム", new_post_path, class: "header__right-postbtn" %>
     <%= link_to "トップページに戻る", root_path, class: "title-left__heading"%>
    <%# <a class="btn" href="/tweets">投稿一覧へ戻る</a> %>
  </div>
</div>