<div class="contents row">
  <div class="success">
    <h3>
      メッセージの投稿が完了しました。
    </h3>
    <%= link_to "お悩み相談メッセージフォームに戻る", new_post_path, class: "header__right-postbtn" %>
     <%= link_to "トップページに戻る", posts_path, class: "title-left__heading"%>
  </div>
</div>