.main-description{
  display: flex;
}
  .main-description--content{
    padding: 180px;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
  }

    .main-description--content__image{
      width: 60%;
      height: 70%;
      float: right;
      margin-bottom:800px;
      margin-left: 650px;
      margin-bottom: 200px;
      border-radius: 60px;
      position: absolute;
    }